{% trans_default_domain 'FOSUserBundle' %}

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link" href="{{ url('fos_user_profile_show') }}">{{ 'View' }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{ url('fos_user_profile_edit') }}">{{ 'Edit' }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url('fos_user_change_password') }}">{{ 'Change Password' }}</a>
  </li>
</ul>

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
