<!DOCTYPE html>
<html lang="{{ app.request.locale|default('en') }}"{% for attr,val in html_attr|default([]) %} {{attr}}="{{val}}"{% endfor %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ asset('vendor/@fortawesome/fontawesome-free/css/all.min.css') }}" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {% endblock %}

    <title>{{ page_title|default('') }} | {{ 'site.name'|trans }}</title>
  </head>
  <body{% for attr,val in body_attr|default([]) %} {{attr}}="{{val}}"{% endfor %}>
    {% block body %}{% endblock %}
    {% block javascripts %}
      <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
      <script src="{{ asset('vendor/popper.js/dist/umd/popper.min.js') }}"></script>
      <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
